.table {

  .cell {
    float: left;
    padding: 10px 15px;
    .box-sizing();
    position: relative;
  }

  .row {
    .clearfix();
  }

  .head {
    font-weight: bold;
    background-color: @elements-bg-color-light-hover;

    .row {
      border: none;
    }
  }

  .body {
    .row {
      .cell {
        padding: 18px 15px;
      }

      &:hover {
        background-color: @elements-bg-color-light-hover;
      }
    }
  }
}