<template name="invoiceEdit">
	<h1>
		<a href="{{pathFor 'invoicesList'}}" class="back-link link-icon color-blue"><i class="icon-chevron-left"></i></a>
		Редактирование счета №{{invoice.title}}
		<span class="color-grey font-light"> от {{humanizeDate invoice.date}}</span>
	</h1>

	<ul class="title-info">
		<li>
			<span class="color-grey">{{getCompanyType invoice.contragent.type}} &laquo;{{invoice.contragent.name}}&raquo;</span>
		</li>
		<li>
			{{> payedIcon invoice}}
		</li>
		<li>
			{{> payedWord invoice}}
		</li>
	</ul>


	<hr>

	<form method="post" action="" class="form">
		<div class="grid-10">
			<div class="span-5">
				{{{formText 'Номер счета' 'title' invoice.title 100 'Введите номер счета'}}}
			</div>
			<div class="span-5">
				{{{formText}}}
			</div>
		</div>
        

        <p>
            <button class="button flat button-go">Сохранить</button>
        </p>
    </form>
</template>
