<template name="invoicesList">
	<h1>{{h1}}</h1>

	<div class="color-grey">
		{{pluralize count 'документ' 'документа' 'документов' true}}
	</div>

	<br>
	<br>

	{{#if count}}
		<div class="table">
		    <div class="head">
		        <div class="row">
		            <div class="cell width-5"></div>
		            <div class="cell width-34">
		                Наименование
		            </div>
		            <div class="cell width-21">
		                Сумма заказа
		            </div>
		            <div class="cell width-35">
		                Контрагент
		            </div>
		            <div class="cell width-5"></div>
		        </div>
		    </div>
		    <div class="body">
		        {{#each invoices}}
		        <div class="row">
		            <div class="cell width-5">
		                {{> payedIcon}}
		            </div>
		            <div class="cell width-34">
		                <a class="link-underlined" href="{{pathFor 'invoiceEdit'}}">Счет №{{title}}</a>&nbsp;<span class="color-grey">от {{humanizeDate date}}</span>

		                {{> payedWord}}
		            </div>
		            <div class="cell width-21">
		                {{> priceConverted price}}
		                <div class="small color-grey-light">{{pluralize items 'позиция' 'позиции' 'позиций' true}}</div>
		            </div>
		            <div class="cell width-35">
		                {{> contragentLink contragent}}
		            </div>
		            <div class="cell width-5">
		            	{{> deleteIcon}}
		            </div>
		        </div>
		        {{/each}}
		    </div>
		</div>
	{{else}}
		Нет счетов, <a href="">создать</a> новый?
	{{/if}}
</template>
