<template name="invoicesList">
	<div class="table">
	    <div class="head">
	        <div class="row">
	            <div class="cell width-5"></div>
	            <div class="cell width-34">
	                <a on-click="sort:title" href="#">Наименование</a>
	            </div>
	            <div class="cell width-21">
	                <a on-click="sort:price" href="#">Сумма заказа</a>
	            </div>
	            <div class="cell width-35">
	                <a on-click="sort:contragent.name" href="#">Контрагент</a>
	            </div>
	            <div class="cell width-5"></div>
	        </div>
	    </div>
	    <div class="body">
	        {{#each invoices}}
	        <div class="row">
	            <div class="cell width-5">
	                {{> payedIcon}}
	            </div>
	            <div class="cell width-34">
	                <a class="link-underlined" href="{{pathFor 'invoiceEdit'}}">Счет №{{title}}</a>&nbsp;<span class="color-grey">от {{humanizeDate date}}</span>

	                {{> payedWord}}
	            </div>
	            <div class="cell width-21">
	                {{> priceConverted price}}
	                <div class="small color-grey-light">{{pluralize items 'позиция' 'позиции' 'позиций' true}}</div>
	            </div>
	            <div class="cell width-35">
	                {{> contragentLink contragent}}
	            </div>
	            <div class="cell width-5">
	            	{{> deleteIcon}}
	            </div>
	        </div>
	        {{/each}}
	    </div>
	</div>
</template>
